<h1>Answer</h1>
<div class='ask_container'>
  <p>Your question:</p>
  <h3><%=@question%></h3>
</div>
<div class='answer_container'>
  <p>Answer:</p>
  <h3><%=@answer%></h3>
</div>
<%= link_to 'Ask another question', root_path, class: "btn btn-light" %>
