<h2>Ask your question!</h2>
<div class="container m-5">
  <form action="/answer" method="get" data-turbo="false">
    <label for="user_question">Ask me anything!</label>
    <input id="user_question" type="text" name="user_input">
    <input type="submit" value="Ask!">
  </form>
</div>
